{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block body %}
    <script type="text/javascript">
        d3.selectAll(".nav-item").classed("active", false);
        d3.select("#nav-link-map").classed("active", true);
        let map_data = {{ map_data|tojson }};
        let airport_locations = {{ airport_locations|tojson }};
        var plot_data = {{ plot_data |safe }};
        var table_data = {{ table_data |safe }};


    </script>

    <div class="row h-100">

        <div class="col-lg-6 flex-grow-1 border-right text-center" id="origin-airport"></div>

        <div class="col-lg flex-grow-1 border-left" id="map-view">
            <button onclick="resetMap()">Reset Map</button>
        </div>

        <div class="col-lg flex-grow-1 border-left" id="destination-airport" style="display: none"></div>
    </div>
    <div class="row h-100">

        <div class="col-lg-6 flex-grow-1 border-right border-top text-center" id="origin-chart" style="background: blue ">
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
            <p>Origin chart placeholder</p>
        </div>

        <div class="col-lg flex-grow-1 border-right border-top text-center" id="od-chart" style="background: blue; display: none ">
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
            <p>OD-placeholder</p>
        </div>
    </div>



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="../static/js/originAirport.js"></script>
    <script type="text/javascript" src="../static/js/destinationAirport.js"></script>

    <script type="text/javascript" src="../static/js/map.js"></script>


    <link rel="stylesheet" type="text/css" href="../static/css/linechart.css">

    <link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="../static/css/tipsy.css" rel="stylesheet" type="text/css"/>


    <script>
        originAirport();
    </script>
{% endblock %}
