{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block body %}
    <script type="text/javascript">
        d3.selectAll(".nav-item").classed("active", false);
        d3.select("#nav-link-map").classed("active", true);
        let map_data = {{ map_data|tojson }};
        let airport_locations = {{ airport_locations|tojson }};
        let airport_names = {{ airport_names|tojson }};
        let plot_data = {{ plot_data |safe }};
        let table_data = {{ table_data |safe }};
        let flights_data = {{ flights_data |safe }};
    </script>

    <div class="row h-75 flex-grow-1">

        {#        <div class="col-lg-6 flex-grow-1 border-right text-center" id="linechart"></div>#}
        <div class="col-lg flex-grow-1 border-right">
            <form class="form-group form-inline autocomplete" id="origin-form" autocomplete="off">
                <input type="text" class="form-control"
                       id="origin-input-selector"
                       placeholder="Origin Airport"
                       name="origin_value">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </form>
            <div class="col-lg flex-grow-1 col-xs-4 text-center align-self-center" id="originSelector">
                <div class="row">
                    <div class="col" id="origin-flights">
                    </div>
                    <div class="col" id="origin-connections">
                    </div>
                    <div class="col" id="origin-cancelled">
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="lollipop-chart" style="display: none; height: 285px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg flex-grow-1 text-center"
                         id="origin-chart" style="height: 100%"></div>
                </div>
            </div>
        </div>


        <div class="col-lg flex-grow-1" style="padding: 0">
            <form class="form-group form-inline autocomplete" id="destination-form" autocomplete="off"
                  style="display: none; padding: 0 15px">
                <input type="text" class="form-control"
                       id="destination-input-selector"
                       placeholder="Destination Airport"
                       name="destination_value">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </form>
            <div class="col-lg" id="map-view" style="padding: 0">
                {#                <button onclick="resetMap()">Reset Map</button>#}
            </div>

            <div class="col-lg flex-grow-1" id="destination-airport" style="display: none">
                <div class="row">

                    <div class="col" id="od-flights">
                    </div>
                    <div class="col" id="od-ranking">
                    </div>
                    <div class="col" id="od-cancelled">
                    </div>

                    {#                    <div class="col gauge-chart-container">
{#                        <svg class="chart-gauge" viewbox="0 0 1200 750"></svg>
{#                        <div class="gauge-chart-number">- mins</div>
{#                    </div>
{#                    <div class="col" id="delay-barchart">
{#                    </div>#}

                </div>
            </div>
        </div>
    </div>
    <div class="row h-100" id="od-row" style="display: none">

        <div class="col-lg flex-grow-1 border-top text-center" id="od-chart">
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tipsy.js"></script>

    <script type="text/javascript" src="../static/js/infoBox.js"></script>

    <script type="text/javascript" src="../static/js/airportSelection.js"></script>
    <script type="text/javascript" src="../static/js/originAirport.js"></script>
    <script type="text/javascript" src="../static/js/destinationAirport.js"></script>
    <script type="text/javascript" src="../static/js/ranked-barchart.js"></script>
    <script type="text/javascript" src="../static/js/lollipop.js"></script>

    <script src="../static/js/spiderwebchart.js"></script>
    <script src="../static/js/flowchart.js"></script>
    <script type="text/javascript" src="../static/js/lib2/gaugeChart.js"></script>
    <script type="text/javascript" src="../static/js/gaugeChart.js"></script>


    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>

    <script type="text/javascript" src="../static/js/map.js"></script>


    <link rel="stylesheet" type="text/css" href="../static/css/linechart.css">
    <link rel="stylesheet" type="text/css" href="../static/css/flowchart.css">
    <link rel="stylesheet" type="text/css" href="../static/css/autocompleteform.css">
    <link rel="stylesheet" type="text/css" href="../static/css/gaugeChart.css">

    <link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="../static/css/tipsy.css" rel="stylesheet" type="text/css"/>


    <script>
        originAirport();
        createGaugeChart();
    </script>
{% endblock %}
